<footer>
    <p class="pull-right brand">&copy;{{ siteName }} {{ 'now' | date('Y') }}</p>
    <p class="pull-left">
        <a href="http://www.facebook.com/Inmovilizame" title="Síguenos en Facebook">
            <img title="Síguenos en Facebook" alt="Síguenos en Facebook" src="{{ asset('images/icons/blueprint-icons/64px/blueprint-social-facebook.png') }}" width="32px" height="32px" />
        </a>
        <a href="http://twitter.com/#!/inmovilizame" title="Síguenos en Twitter">
            <img title="Síguenos en Twitter" alt="Síguenos en Twitter" src="{{ asset('images/icons/blueprint-icons/64px/blueprint-social-twitter.png') }}" width="32px" height="32px" />
        </a>
        <a href="http://blog.qlees.es/feed/" title="Suscríbete a nuestro RSS">
            <img title="Suscríbete a nuestro RSS" alt="Suscríbete a nuestro RSS" src="{{ asset('images/icons/blueprint-icons/64px/blueprint-social-rss.png') }}" width="32px" height="32px" />
        </a>
    </p>
</footer>