{% extends 'PhotoblogBundle::front.html.twig' %}

{% block headscript %}
{{ parent() }}
<script type='text/javascript' src='{{ asset('lib/shuffleLetter/jquery.shuffleLetters.js') }}'></script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
   <script type='text/javascript'>
        $("#shuffle").shuffleLetters();
   </script>
{% endblock %}
   
{% block headstyles %}
{{ parent() }}

<style type="text/css">
#shuffle {
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #999999;
}
   
#shuffle:before{
    content: ">";
    font-size: 50px;
    left: 0;
    top: 7px;
    opacity: 0.25;
    position: absolute;
    text-shadow: 2px 2px 0 #111111;
}
</style>
{% endblock %}

{% block pageheader %}{% endblock %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <div>
        <h1>
            <span id="shuffle">{{ site_name }} 2.0 dev</span>
        </h1>
    </div>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Judo</h2>
        <img alt="Judo en {{ site_name }}" src="{{ asset('images/portada/etiqueta.png') }}" class="thumbnail thumbbdeco">
        <p>Nos encanta el judo… bueno, en general el deporte. En nuestra web vereis muchas fotos de deporte.</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
    <div class="span4">
        <h2>Fotografía</h2>
        <img alt="Fotografía en {{ site_name }}" src="{{ asset('images/portada/selecciona.png') }}" class="thumbnail thumbbdeco">
        <p>Nos encanta la fotografía. En nuestra web verás noticias relacionadas con el mundo de los sensores.</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
    <div class="span4">
        <h2>Tecnología</h2>
        <img alt="Tecnología en {{ site_name }}" src="{{ asset('images/portada/comenta.png') }}" class="thumbnail thumbbdeco">
        <p>Por supuesto, nos encanta la tecnología… somos un pelín geeks. Adivina que más vas a encontrar :)</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
    <div class="span1"></div>
</div>

{% endblock %}