{% if is_granted("IS_AUTHENTICATED_FULLY") %}
<div class="span2 well">
    Usuario: {{ app.user.username }}
</div>
{% endif %}

{% if is_granted("ROLE_ADMIN") %}
<h5>SuperAdministracion</h5>
<ul>
    <li><a href="{{ path('in_portada') }}">Añadir fuente</a></li>
    <li><a href="{{ path('in_portada') }}">Gestionar fuentes</a></li>
    <li><a href="{{ path('in_portada') }}">Añadir usuario</a></li>
</ul>
{% endif %}

<h5>Fuentes de datos</h5>
<ul>
    <li><a href="{{ path('in_portada') }}">Listado</a></li>
    <li><a href="{{ path('in_portada') }}">Precedencia</a></li>
    <li><a href="{{ path('in_portada') }}">Estadísticas</a></li>
    <li><a href="{{ path('in_portada') }}">Contraseñas</a></li>
</ul>
