<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">{{ site_name }}</a>
<div class="nav-collapse">
   <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="{{ path('in_contact') }}">Contact</a></li>
   </ul>
</div>

{#
<a class="brand" href="http://blog.qlees.es">
    <img src="{{ asset('images/logo.png') }}" alt="Qlees by Xercode" title="Qlees by Xercode" />
</a>
<ul class="nav">
    <li class="{% if app.request.requestUri() == path('in_homepage') %}active{% endif %}"><a href="{{ path('in_homepage') }}">Inicio</a></li>
    <li class="{% if app.request.requestUri() == path('in_homepage') %}active{% endif %}"><a href="{{ path('in_homepage') }}">Contacta</a></li>
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <li class="{% if app.request.requestUri() == path('in_homepage') %}active{% endif %}"><a href="{{ path('in_homepage') }}">Area de administración</a></li>
    {% endif %}
</ul>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <p class="pull-right">
        Identificado como <a href="{{ path('in_homepage') }}">{{ app.user.username }}</a>
        <a class="btn" href="{{ path('in_homepage') }}">
            <img src="{{ asset('images/icons/logout.png') }}" alt="Salir" title="Salir" width="16px" height="16px" style="vertical-align: bottom" />
        </a>
    </p>
{% else %}
    <form class="pull-right" action="{{ path("in_homepage") }}" method="post">
        <input class="input-small" type="text" name="_username" id="username" placeholder="Username" />
        <input class="input-small" type="password" name="_password" id="password" placeholder="Password" />
        <input type="checkbox" name="_remember_me" id="remember_me" checked="checked" />
        <button class="btn" type="submit">
            <img src="{{ asset('images/icons/login.png') }}" alt="Entrar" title="Entrar" width="16px" height="16px" style="vertical-align: bottom" />
        </button>
    </form>
{% endif %}
#}