<!doctype html>
<html lang="{{ locale }}">
<head>
	<meta charset="{{ charset }}" />
	<title>{% block title %}{{ siteName }}{% endblock %}</title>
	<meta name="description" content="{% block metaDescription %}{{ siteName }}{% endblock %}" />
    <meta name="author" content="{% block metaKeywords %}{{ siteName }}{% endblock %}" />
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- To Top scripts -->
	{% block headscript%}
    {% javascripts 'lib/jquery-1.7.1.js'
    			   'lib/bootstrap-transition.js'
    			   'lib/bootstrap-alert.js'
    			   'lib/bootstrap-modal.js'
    			   'lib/bootstrap-dropdown.js'
    			   'lib/bootstrap-scrollspy.js'
    			   'lib/bootstrap-tab.js'
    			   'lib/bootstrap-tooltip.js'
    			   'lib/bootstrap-popover.js'
    			   'lib/bootstrap-button.js'
    			   'lib/bootstrap-collapse.js'
    			   'lib/bootstrap-carousel.js'
    			   'lib/bootstrap-typehead.js'
                   output='js/inmovilizame.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
	
	<!-- CSS -->
	{% block headstyles %}
    {% stylesheets 'styles/bootstrap.css'
    			   'styles/bootstrap-responsive.css'
                   output='css/base.css' %} 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" /> 
    {% endstylesheets %}
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% endblock %}
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />

	
	<!-- Analytics -->

</head>
<body>
	{% if app.session.hasFlash('info') %}
	    {% block flashmsg %}
	    <div class="alert-message info fade in">
	        <a class="close" href="#">×</a>
	        <p>{{ app.session.getFlash('info') }}</p>
	    </div>
	    {% endblock %}
	{% endif %}
	    
	{% block page %}{% endblock %}
	
	{% block javascripts %}
	<script type="application/x-javascript">
    	$(".alert-message").alert()
	</script>
	{% endblock %}
</body>
</html>